body
{
    text-align: center; 
    margin: 0px;
    background-color: rgb(243, 244, 244);
}
.game{
    height: 50vh;
    width: 100vh;
    border: 2px solid black;
    margin: auto;
    margin-top: 20px;
}
p
{
    font-size: 26px;
}
button
{
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: rgb(38, 225, 38);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#newcard,#play
{
    background-color: rgb(230, 85, 85);
}
@media (max-width:480px)
{
    html{
        zoom: 60%;
    }
}