body
{
    text-align: center;
    background-color: rgb(243, 244, 244);
    font-family: 'Lato',sans-serif;
    background-image: url(blackjack1.jpg);
    background-position: right bottom;
    background-repeat: repeat;
}
.game{
    height: 310px;
    width: 600px;
    border: 2px solid black;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(243, 244, 244);
}
p
{
    font-size: 23px;
}
button
{
    padding: 10px 20px;
    font-size: 17px;
    color: white;
    background-color: rgb(38, 225, 38);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Lato',sans-serif;
    font-weight: bold;
    margin-right: 10px;
}
#newcard,#play
{
    background-color: rgb(230, 85, 85);
}
#message
{
    animation: blinkingText 1s infinite;
    color: rgb(219, 4, 119);
    font-family: 'Lato',sans-serif;
}
@keyframes blinkingText {
    0%
       {
            color:white;
       }
       20%
       {
            color:black;
       }
       30%{
           color:rgb(53, 12, 100);
       }
       50%
       {
            color: #ec0909;    
       }
       70%{
            color:green;
       }
       100%
       {   
            color: #E8ADAA;
       }
    }
@media (max-width: 480px) {
    .game{
        margin-top: 300px;
        width: 500px;
    }
}

