body
{
    text-align: center; 
    margin: 0px;
    background-color: rgb(243, 244, 244);
    font-family: 'Lato',sans-serif;
    background-image: url(blackjack21.jpg),url(blackjack1.jpg);
    background-position: center bottom,right bottom;
    background-repeat: no-repeat,repeat;
    background-size: 250px,300px;
}
.game{
    height: 300px;
    width: 500px;
    border: 2px solid black;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(243, 244, 244);
}
p
{
    font-size: 23px;
}
button
{
    padding: 10px 20px;
    font-size: 17px;
    color: white;
    background-color: rgb(38, 225, 38);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Lato',sans-serif;
    font-weight: bold;
    margin-right: 10px;
}
#newcard,#play
{
    background-color: rgb(230, 85, 85);
}
